.biochemistry-page {
    width: 100%;
    height: 100vh;
    background: var(--background);
    position: relative;
}

.biochemistry-page-title {
    padding-left: 10%;
    padding-top: 30px;
    font-size: 32px;
    color: var(--text-color);
    font-weight: 500;
}

.biochemistry-page-hr {
    background: var(--lines-color);
    height: 2px;
    width: 80%;
    margin: 20px auto;
}

.articles-list {
    width: 80%;
    margin: auto;
    height: calc(100vh - 120px - 20px);
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.articles-list::-webkit-scrollbar {
  display: none;
}

.articles-list {
  scrollbar-width: none;
}

.articles__article {    
    width: 100%;
    background: var(--card-color);
    box-shadow: 0px 3.2375px 3.2375px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
    height: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-type, .article-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-favorite:hover {
    cursor: pointer;
}

.article-type svg, .article-favorite svg {
    fill: var(--text-color);
    margin-left: 40px;
    margin-right: 40px;
    width: 33px;
    height: auto;
}

.article-separator {
    border: none;
    border-right: 1px solid var(--lines-color);
    height: 79px;
    width: 1px;
}

.article__content {
    padding-left: 40px;
    padding-right: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.article__title {
    color: var(--text-color);
    font-size: 28px;
}

.article__info {
    color: var(--text-extra);
    display: flex;
}

.article-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

.article__info svg {
    width: 13px;
    height: auto;
    fill: var(--text-extra);
    margin-right: 5px;
}

.article__tags-list {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.article__tag {
    background: var(--tags-color);
    padding: 6px 12px;
    border-radius: 16px;
    margin-right: 20px;
    color: var(--tags-text);
    font-size: 18px;
}