.biochemistry-page {
    width: 100%;
    height: 100vh;
    background: var(--background);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    z-index: 5;
}

.logo-name {
    font-family: "Raleway";
    color: var(--menu-accent);
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.1em;
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-header .logo-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mobile-header .logo-block img{
    margin: 0;
    margin-right: 16px;
}

.mobile-header svg {
    fill: var(--text-color);
}

.biochemistry-page-title {
    padding-top: 30px;
    font-size: 32px;
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: normal;
}

.biochemistry-page-hr {
    background: var(--lines-color);
    height: 2px;
    width: 100%;
    margin: 20px auto;
}

.articles-list, .notes-list {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;  
    scrollbar-width: none;
    flex: 1;
}

.articles-list::-webkit-scrollbar, .notes-list::-webkit-scrollbar {
  display: none;
}

.articles__article, .notes__note {    
    width: 100%;
    background: var(--card-color);
    box-shadow: 0px 3.2375px 3.2375px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
    padding-left: 0;
    height: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-type, .article-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.article-favorite:hover {
    cursor: pointer;
}

.article-type svg, .article-favorite svg {
    fill: var(--text-color);
    margin-left: 40px;
    margin-right: 40px;
    width: 33px;
    height: auto;
}

.article-separator, .note-separator {
    border: none;
    border-right: 1px solid var(--lines-color);
    height: 79px;
    width: 1px;
}

.article__content, .note__content {
    padding-left: 40px;
    padding-right: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.article__title, .note__title {
    color: var(--text-color);
    font-size: 28px;
    letter-spacing: normal;
}

.article__info {
    color: var(--text-extra);
    display: flex;
}

.article-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

.article__info svg {
    width: 13px;
    height: auto;
    fill: var(--text-extra);
    margin-right: 5px;
}

.article__tags-list {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.article__tag {
    background: var(--tags-color);
    padding: 6px 12px;
    border-radius: 16px;
    margin-right: 20px;
    color: var(--tags-text);
    font-size: 18px;
}

.article-page, .note-page {
    padding: 50px 10% 0 10%;
    background: var(--card-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.article-tags {
    background: var(--tags-color);
    width: fit-content;
    border-radius: 16px;
    padding: 4px 0 4px 12px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.article-tag {
    color: var(--tags-text);
    font-size: 18px;
    padding-right: 12px;
    font-weight: 500;
}

.article-title, .note-title {
    font-size: 32px;
    color: var(--text-color);
    font-weight: 500;
    padding: 20px 0;
}

.article-info {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.article-author {
    display: flex;
}

.article-author-img{
    width: 120px;
    height: 120px;
}

.article-author-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 26px;
}

.article-author-name {
    font-size: 24px;
    color: var(--text-color);
    letter-spacing: normal;
}

.article-author-extra {
    font-size: 16px;
    color: var(--text-extra);
    letter-spacing: normal;
}

.article-actions, .note-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.article-action, .note-action {
    color: var(--text-extra);
    font-size: 16px;
    display: flex;
    margin-top: 20px;
}

.article-action:hover, .note-action:hover {
    cursor: pointer;
}

.article-action svg, .note-action svg {
    fill: var(--text-extra);
    margin-left: 10px;
}

hr {
    background: var(--lines-color);
}

.article-text, .note-text {
    width: 100%;
    color: var(--text-color);
    flex: 1;
    flex-direction: column;
}

*::selection {
    background: var(--tags-color);
}

#add-selected-text-btn {
    display: flex;
    position: absolute;
    background: var(--menu-accent);
    border-radius: 6px;
    z-index: 10;
    padding: 4px 12px;
    color: var(--card-color);
    font-size: 14px;
    border: none;
}

#add-selected-text-btn:hover {
    cursor: pointer;
    background: var(--menu-accent-darker);
}

#add-selected-text-btn svg {
    fill: white;
}

.notification-success {
    background-color: #66D9D3;
    border-radius: 16px;
    color: white;
}

.notification-danger {
    background-color: #F65151;
    border-radius: 16px;
    color: white;
}

.note-main {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.note-main-actions {
    display: flex;
}

.note-green-btn, .note-red-btn {
    color: var(--card-color);
    font-size: 18px;
    line-height: 22px;
    height: 46px;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.note-green-btn:hover, .note-red-btn:hover {
    cursor: pointer;
}

.note-green-btn {
    background: var(--menu-accent);
}

.note-red-btn {
    background: var(--danger);
    margin-left: 20px;
}

.note-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-delete svg {
    fill: var(--danger);
    margin-left: 40px;
    margin-right: 40px;
    width: 30px;
    height: auto;
}

.darker-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 15;
    background: rgba(0, 0, 0, 0.2);
}

.article-status svg {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.article-status-accepted {
    fill: var(--menu-accent);
}

.article-status-declined {
    fill: var(--danger);
}

.article-status-checking {
    fill: var(--text-extra);
}

.ql-container {
    font-size: 16px !important;
}

@media (max-width: 420px) {
    .biochemistry-page {
        background: var(--phone-bg);
        padding: 20px 20px 0 20px;
    }

    .biochemistry-page-title {
        padding: 24px 0 0 0;
        font-size: 24px;
        letter-spacing: -0.05em;
    }

    /* .articles-list, .notes-list {
        height: auto;
    } */

    .articles__article, .notes__note {
        border-radius: 20px;
        box-shadow: none;
        margin-bottom: 8px;
        height: auto;
    }

    .notes__note {
        margin-bottom: 8px;
        padding-left: 16px;
    }

    .article-type svg {
        width: 16px;
        height: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .article__content, .note__content {
        padding: 0;
    }

    .article__title, .note__title {
        font-size: 16px;
        margin-top: 16px;
        letter-spacing: -0.05em;
    }

    .article-info {
        height: 60px;
        margin-bottom: 30px;
    }

    .article-info-item {
        font-size: 12px;
        letter-spacing: -0.05em;
    }

    .article__tags-list {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .article__tag {
        background: var(--tags-color);
        padding: 4px 8px;
        border-radius: 16px;
        margin-right: 8px;
        color: var(--tags-text);
        font-size: 13px;
    }

    .article-favorite, .note-delete, .article-status {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-bottom: auto;
    }

    .article-favorite svg, .note-delete svg, .article-status svg {
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: auto;
        width: 16px;
        height: auto;
    }

    .article-page, .note-page {
        padding: 12px 20px;
    }

    .article-tags {
        padding: 4px 0 4px 8px;
        margin: 16px 0 12px 0;
    }

    .article-tag {
        font-size: 10px;
        line-height: 10px;
        padding-right: 8px;
    }

    .mobile-article-title, .mobile-note-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .article-title, .note-title {
        font-size: 24px;
        padding: 0;
        padding-bottom: 12px;
        flex: 1;
    }

    .mobile-article-title svg, .mobile-note-title svg {
        margin-top: 9px;
        fill: var(--text-color);
    }

    .article-author-img {
        width: 60px;
        height: 60px;
    }

    .article-author-info {
        height: 60px;
        padding-left: 12px;
    }

    .article-author-name {
        font-size: 16px;
        letter-spacing: -0.05em;
    }

    .article-author-extra {
        font-size: 12px;
        letter-spacing: -0.05em;
    }

    .ql-editor {
        padding: 0 !important;
    }

    .ql-container {
        font-size: 12px !important;
    }

    .mobile-article-actions, .mobile-note-actions {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background: var(--menu-background);
        border-radius: 20px 20px 0px 0px;
        z-index: 20;
    }

    .mobile-article-action, .mobile-note-action {
        color: var(--text-color);
        font-size: 16px;
        display: flex;
        margin-top: 28px;
    }

    .mobile-article-action:first-child, .mobile-note-action:first-child {
        margin-top: 20px;
    }

    .mobile-article-action:last-child, .mobile-note-action:last-child {
        margin-bottom: 20px;
    }
    
    .mobile-article-action svg, .mobile-note-action svg {
        fill: var(--text-color);
        margin-left: 20px;
        margin-right: 30px;
    }

    .action-green {
        color: var(--menu-accent);
    }

    .action-green svg {
        fill: var(--menu-accent);
    }

    .action-red {
        color: var(--danger);
    }
    
    .action-red svg {
        fill: var(--danger);
    }
}