p {
    display: block;
    width: 100%;
}

.ql-align-right {
    text-align: right;
}

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

ol, ul {
    padding-left: 1.5em;
}

li {
    padding-left: 1.5em;
}